{% extends "base.html" %}
{% block navbar_class-users:detail %}active{% endblock %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>{{ object.username }}</h1>
    {% if object.name %}
      <p>{{ object.name }}</p>
    {% endif %}
  </div>
</div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' username=request.user.username %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>
</div>
<!-- End Action buttons -->
{% endif %}
{% endblock content %}
