{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}CCDB{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
      <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha256-sHwgyDk4CGNYom267UJX364ewnY4Bh55d53pxP5WDug= sha512-mkkeSf+MM3dyMWg3k9hcAttl7IVHe2BA1o/5xKLl4kBaP0bih7Mzz/DBy4y6cNZCHtE2tPgYBYH/KtEjOQYKxA==" crossorigin="anonymous">
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">CCDB</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% if request.user.is_authenticated %}
                {% comment %}
                <li class="nav-item {% block navbar_class-projects %}{% endblock %}">
                  <a class="nav-link" href="{% url 'projects:project_list' %}">
                    {% trans "Projects" %}
                  </a>
                </li>
                {% endcomment %}
              {% endif %}
            </ul>
            <ul class="nav navbar-nav pull-right">
              {% if request.user.is_authenticated %}
                <li class="nav-item {% block navbar_class-users:detail %}{% endblock %}">
                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">
                    {% trans "My Profile" %}
                  </a>
                </li>
                <li class="nav-item {% block navbar_class-account_logout %}{% endblock %}">
                  <a class="nav-link" href="{% url 'account_logout' %}">
                    {% trans "Logout" %}
                  </a>
                </li>
              {% else %}
                <li class="nav-item {% block navbar_class-account_signup %}{% endblock %}">
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">
                    {% trans "Sign Up" %}
                  </a>
                </li>
                <li class="nav-item {% block navbar_class-account_login %}{% endblock %}">
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">
                    {% trans "Log In" %}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>PLACEHOLDER</p>
      {% endblock content %}
    </div>

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
